
.site-navbar{
    background-color: white;
    color: rgb(49, 47, 47);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;
    align-items: stretch;
    background-color: white;
    margin-top: -2px;
    
    
    
    
    
}

.site-navbar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    padding-top: 5px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size:smaller;
    font-weight: 700;
    margin-right: 36px;
   
    

    
   
    align-items: stretch;
   
}

.site-navbar a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .45rem;
    
}
.navbar_image{
    height: 62px;
    
}
.site-navbar li:hover {
    background-color: white;
    color: #555;
}
.site-navbar li.active{
background-color: #555;
}
.dropbtn {
    background-color: white;
    padding: 16px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color:  rgb(49, 47, 47);
    border: none;
    
  }
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: smaller;
    z-index: 1;
    text-align: left;
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
   
  }
  
  .dropdown-content a:hover {
    background-color: whitesmoke;
    
}
  
  .dropdown:hover .dropdown-content {
    display: block;
    color: transparent;

}
  
  .dropdown:hover .dropbtn {
    background-color: white;
}